<div>
  <%= form_for(@user) do |f| %>
    <h2>アカウント編集</h2>
    <%= render 'shared/user_error_messages' %>
      
    <%= f.label "メールアドレス" %>
    <%= f.text_field :email, class:"form-control" %>
    
    <%= f.label "変更後パスワード（変更する場合のみ入力）" %>
    <%= f.text_field :password, class:"form-control" %>
    
    <%= f.label "パスワード確認用（変更する場合のみ入力）" %>
    <%= f.text_field :password_confirmation, class:"form-control" %>
      
    <%= f.submit "更新", class:"btn btn-primary" %>
    
    <%= hidden_field_tag :setting_id, "1" %>
  <% end %>
  
</div>