  <h2>予約済みルーム一覧</h2>
<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th>ルーム画像</th> <th>ルーム名</th> <th>ルーム紹介</th> <th>合計料金</th> <th>開始日</th> <th>終了日</th> <th>予約確定日時</th>
      </tr>
    </thead>

  <% @reservations.each do |reservation| %>
    <tbody>
      <tr>
        <td><%= image_tag reservation.room.picture.url %></td>
        <td><%= link_to reservation.room.name, room_path(reservation.room) %></td>
        <td><%= reservation.room.content %></td>
        <td><%= reservation.total_cost %></td>
        <td><%= reservation.start_date %></td>
        <td><%= reservation.end_date %></td>
        <td><%= reservation.created_at %></td>
    </tbody>
  <% end %>
  
  
  </table>
</div>