<header>
  <%= link_to "PoteShare", root_path, class:"navbar-brand h1" %>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <%= form_with url: search_rooms_path, method: :get, local: true do |f| %>
        <%= f.text_field :name, class:"form-control" %>
        <%= f.submit "探す", class:"btn btn-primary"  %>
      <% end %>
    </li>
  </ul>
    <ul>
      <% if logged_in? %>
        <li class="dropdown">
          <a href='#' class = "dropdown-toggle" data-toggle="dropdown">
            <%= current_user.name %> <b class="caret"></b>
          </a>
          <ul class ="dropdown-menu">
            <li><%= link_to "ルーム登録", new_room_path %></li>
            <li><%= link_to "予約済みルーム一覧", reservations_path %></li>
            <li><%= link_to "登録済みルーム一覧", rooms_path %></li>
            <li><%= link_to "設定", user_path(current_user) %></li>
            <li>
              <%= link_to "ログアウト", logout_path, method: :delete %>
            </li>
          </ul>
        </li>
        
      <% else %>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <%= link_to "ログイン", login_path, class:"nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "登録する", new_user_path, class:"nav-link"%>
        </li>
      </ul>
      <% end %>
    </ul>
</header>